@media all and (max-width: 1200px) {
    .portfolio-item {
        width: 50%;
    }
    
    .portfolio-item:last-child {
        width: 100%;
    }
}
    
@media all and (max-width: 992px) {
    .toggle {
        display: block;
        background-color: #fff;
        padding: 0 20px;
        color: #1ac056;
        font-size: 20px;
        line-height: 60px;
        text-decoration: none;
        border: none;
        text-align: right;
    }
    .toggle::after {
        content: "\f039";
        font-family: 'fontawesome';
        font-size: 22px;
    }

    #main-nav ul {
        display: none;
    }

    #main-nav #drop:checked + ul {
        display: block;
    }

    #main-nav li {
        display: block;
        width: 100%;
        padding: 20px;
        text-align: right;
    }
    
    .main-header-content {
        padding: 10%;
    }
    
    #about > article {
        width: 100%;
    }
    
    #about > figure {
        width: 100%;
    }
    
    #about > figure > img {
        max-height: inherit;
    }
    
    .contact-data {
        width: 100%;
        text-align: center;
    }
    
    .contact-data > h2 {
        text-align: center;
    }
    
    .contact-form {
        width: 100%;
    }
    
    .contact-social-icons a {
        margin: 0;
    }
    

    #skills-icons figure {
        margin: 0;
        padding: 20px;
        display: block;
    }
    
    footer p {
        text-align: center;
    }
    
    #skills p {
        width: 100%;
    }
    
    #contact-social-icons {
        padding: 5px;
    }
}

@media all and (max-width: 768px) {
    section {
        padding: 0 40px 50px;
    }
    
    body h1 {
      font-size: 3em;  
    }
    
    body h2 {
      font-size: 1.5em;
    }
}

@media all and (max-width: 576px) {
    section {
        padding: 0 10px 30px;
    }
    .portfolio-item {
        width: 100%;
    }
}