* {
     box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    color: #291f1a;
    font-weight: 300;
    margin: 0;
}

h1 {
    text-align: center;
}

#main-nav {
    background-color: #ffffff;
    width: 100%;
    position: fixed;
    text-align: right;
    z-index: 2;
}

#main-nav ul {
    margin: 0;
    float: right;
}

#main-nav li {
    display: inline-block;
    padding: 20px 40px;
    list-style: none;
}

#main-nav > ul > li > a {
    text-decoration: none;
    color: #1ac056;
    font-weight: 300px;

}

#main-nav > ul > li > a:hover {
    color: #291f1a;
}

#main-header {
    background-image: url(../img/header-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
}

.main-header-content {
    padding: 30vh;
    color: #ffffff;
    font-weight: 200;
}

.main-header-content h1 {
    font-size: 4em;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    margin-bottom: 0;
}

.main-header-content h2 {
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    margin-top: 0;
    text-align: center;
}

.main-header-content span {
    color: #1ac056;
    font-weight: 500;
}

#about {
    width: 100%;
    padding: 0 80px 100px;
    background-color: #f9fcfe;
    box-sizing: border-box;
    overflow: auto;
}

#about > figure {
    width: 50%;
    margin: 0;
}

#about h2 {
    font-size: 30px;
    font-weight: 300;
    margin-top: 60px;
    margin-bottom: 35px;
    text-align: center;
}

#about > h2 > span {
    color: #1ac056;
    font-weight: 500;
}

#about > figure > img {
    max-height: 350px;
    max-width: 100%;
    float: left;
    align-content: center;
    border: 15px solid;
    border-color: #fff;
    border-radius: 5%;
}

#about > article {
    width: 50%;
    float: right;
    text-align: justify;
    align-content: center;
}

#skills {
    position: relative;
    height: 400px;
}

#skills h2 {
    font-size: 30px;
    font-weight: 300;
}

#skills h2,
#skills p {
    text-align: center;
}

#skills span {
    color: #1ac056;
    font-weight: 500;
}

#skills-icons { 
    position: absolute;
    left: 25%;
    right: 25%;
}

#skills-icons figure {
    display: inline-block;

}

figure figcaption {
    text-align: center;
    padding-top: 20px;
}

#portfolio {
    position: relative;
    padding-bottom: 50px;
}

#portfolio > h2 {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
}

#portfolio span {
    color: #1ac056;
    font-weight: 500;
}

.portfolio-items {
    text-align: center;
    font-size: 0;
    width: 95%;
    padding-left: 5%;
}

.portfolio-item {
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;
    position: relative;
    width: 33%;
}

#portfolio-item-1 {
    background-image: url(../img/portfolio1.jpg);
}

#portfolio-item-2 {
    background-image: url(../img/portfolio2.jpg);
}

#portfolio-item-3 {
    background-image: url(../img/portfolio3.jpg);
}

.item-mask {
    background: rgba(42, 61, 79, 0.8);
    height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
    font-size: initial;
}

.item-mask:hover {
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.item-content {
    border: 1px solid #fff;
    margin: 10px;
    height: 330px;
    position: relative;
}

.item-content-inner {
    top: 50%;
    transform: translateY(-50%);
    padding: 5px;
    left: 0;
    right: 0;
    color: #fff;
}

#contact {
    display: inline-block;
    width: 100%;
    background-color: #213b50;
    overflow: hidden;
    color:  #fff;
    padding: 20px 60px;
}

.contact-data {
    width: 50%;
    float: left;
}

.contact-form {
    width: 50%;
    float: left;
}

.contact-data > h2 {
    text-align: left;
    font-size: 38px;
}

.contact-data > h2 > span {
    color: #1ac056;
    font-weight: 500;
}

.contact-data > address {
    font-style: normal;
    line-height: 28px;
    margin: 72px 0;
}

.contact-data > address > span {
    color: #1ac056;
}

i {
    font-size: 100px;
}

.contact-social-icons a {
    text-decoration: none;
    display: inline-block;
    height: 38px;
    width: 38px;
    margin-right: 30px;
    line-height: 38px;
    border: 1px solid #fff;
    text-align: center;
    font-size: 22px;
}

.contact-social-icons a:hover {
    color: #213b50;
    border-color: #213b50;
    background-color: #fff;
    
}

.contact-social-icons .link-1::before {
    content: "\f09a";
    font-family: 'fontawesome';
    font-size: 22px;
}

.contact-social-icons .link-2::before {
    content: "\f0d5";
    font-family: 'fontawesome';
    font-size: 22px;
}

.contact-social-icons .link-3::before {
    content: "\f099";
    font-family: 'fontawesome';
    font-size: 22px;
}

.contact-social-icons .link-4::before {
    content: "\f0e1";
    font-family: 'fontawesome';
    font-size: 22px;
}

.contact-form {
    margin-top: 100px;
}

.contact-form input, textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: 0px solid #2b4a64;
    background-color: #2b4a64;
}

.contact-form input:focus, textarea:focus {
    background-color: #426684;
}

.contact-form input[type="submit"] {
    width: 25%;
    padding: 15px 30px;
    float: right;
    text-transform: uppercase;
    border: 1px solid #1ac056;
    background-color: #1ac056;
    color: #fff;
    font-weight: 600;
}

.contact-form input[type="submit"]:hover {
    background-color: #fff;
    color: #1ac056;
}


